/* to import other sheets */
/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.4;
  /* font-family: sans-serif; */
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0.4rem 0rem;
}

h2 {
  font-size: 2rem;
  margin: 0.4rem 0rem 0.2rem;
}

p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.container {
  height: 100vh;
  /* svh is better, but having vh above as fallback */
  height: 100svh;
  display: flex;
}

.button {
  text-decoration: none;
}

button,
.button,
input[type=submit] {
  font-family: 'Manrope', sans-serif;
  font-variant: all-small-caps;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.6rem 0.4rem;
  padding: 0.2rem 1.2rem 0.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 #30404b38;
}

button:hover,
.button:hover,
input[type=submit]:hover {
  opacity: 0.7;
}

.button-big {
  font-size: 1.2rem;
}

.button-blue {
  color: #fff;
  background-color: #30404B;
}

.button-green {
  color: #fff;
  background-color: #417C47;
}

input[type=text],
input[type=email],
input[type=password],
select {
  margin: 0.2rem 0rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #30404B;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  max-width: 250px;
}

.flex-row-ai-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
